<h1>
<%= @billboard.name %>
</h1>

<% if @songs.any? %>

      <% @songs.each do |song| %>
        
      <%= song.title %></span>
          <p>Artist: song.artist.name</p>
          <p>Duration: song.duration</p>
        </div>
        
          <%= link_to 'Go To Song', artist_song_path(song.artist, song) %>
          <%= link_to 'Remove From Billboard', remove_billboard_song_path(@billboard, song), method: :delete %>
    
      <% end %>

<% else %>
<h3>No Songs On Billboard, Please Add One</h3>
<% end %>


