<h1><%= @billboard.name %></h1>
<hr />
<%= @songs.name %>
code here listing all songs and what they are ranked on the billboard
only top 100 songs 
list sql by order of listens and then  have pull ORDER BY and LIMIT
